DB_HOST=localhost
DB_PORT=5432
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD_CHANGE_ME_BEFORE_USE
MOLECULES_TABLE=Table_Name
ALLOWED_TABLES=Table_Name

API_KEYS=CHANGE_ME_REPLACE_WITH_STRONG_RANDOM_KEY