# Database
DB_HOST=your-coolify-db-internal-hostname
DB_PORT=5432
DB_NAME=flaskai
DB_USER=postgres
DB_PASSWORD=your_actual_password

# App
MOLECULES_TABLE=your_table
ALLOWED_TABLES=your_table
API_KEY_HASHES=your_hash:admin
ALLOWED_ORIGINS=https://your-frontend-domain.com

# API
API_PORT=8000
LOG_LEVEL=info
UVICORN_WORKERS=4
BUILD_ENV=production

PGADMIN_PASSWORD=anything123